<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

  </head>
  <body>
    {% if not request.user.is_authenticated %}
  		<div class="col-md-1 col-md-offset-11">
  			<a href="{% url 'user_login' %}">LogIn</a>
  			<a href="{% url 'user_register' %}">Register</a>
  		</div>
  	{% else %}
  		<div class="col-md-1 col-md-offset-11">
  			<a href="#">Profile</a>
  			<a href="{% url 'user_logout'  %}">Logout</a>
  		</div>
  	{% endif %}
    {% block content %}
    {% endblock %}
  </body>
</html>
