{% extends 'index.html' %}
{% block content %}
<form class="" action="{% url 'comment_like' %}" method="post">
<input type="text" name="comment_id" value="id">
<input type="button" name="vote" value="Like">
<input type="button" name="vote" value="Dislike">
</form>
<script type="text/javascript">
$(function(){
  $('[type=button]').on('click',function(){
    if ($(this).val() == "Like")
    {
      console.log($('form').serialize())
      $.ajax({
        url:'{% url 'comment_like' %}',
        method:'post',
        data:$('form').serialize(),
        success:function(response){
           window.location.href = '{% url 'index' %}'
        }
      });
      return false;
    }
  });
});
</script>
{% endblock %}
