<form action="{% url 'user_login' %}" method="post">
  
    email
    <input type="email" name="email" id="email">
    <input type="password" name="password">
    <button type="submit">Login</button>
</form>
